<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AD:Domain" value="AD Domain"/>
    <add key="AD:User" value="AD Blocker UserName"/>
    <add key="AD:Password" value="AD Blocker Password"/>
    <add key="AD:UpdateField" value="carLicense"/>
    <add key="AD:UpdateFieldEnableValue" value="EnableEmailServices"/>
    <add key="AD:UpdateFieldDisableValue" value="DisableEmailServices"/>
    <add key="Skills:ApiUrl" value="https://localhost"/>
    <add key="Skills:AppId" value="Api id here"/>
    <add key="Skills:AppSecret" value="Api secret here"/>
    <add key="Skills:AppTenant" value="Tenant Id here"/>
    <add key="Skills:SSLPublicKey" value="3082010A0282010100C2C57DBC52DA06CF505D8F5EA0C25F5804C58C5A2831BC3C635FB4B39E73566D090BECD1021E3C829B8922FC6893738C23F00DEE8D779D4A02489E48F6BFE27C6FC3BB4160E68E94BC16C9FC39D92A5A0227A68B80E0D19848C7D0AB6C6D9354A4E9B8ACED95A48EFA04B3B7A7E8662731C2AE33A466402C66CCE2D10B6E22DEC3F48E764ABFB2030BFB0CA7142DFFC9496060214BBA5CA5BF44DFAE4FDD536AE99F8FC69E57520719C65B5D5AB344A094F7E9412D4EF876786F585D081C07BFA536824CFAC8FF6C1669CDCFF5633B2EA0AC9F228AB3F314FDBD56C809041CFBCEA1119FFFCF0EA8BEDD1EA97A1247CAFB1E9D1073A37EB2BDE99A92097CDAA30203010001"/>
    <add key="Skills:Environment" value="Local"/>
    <add key="Raygun:JobName" value="ADBlocker"/>
    <add key="Raygun:AppKey" value="C88ZejAnr7f/w4X+wTcPRg=="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
